@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>For ambitious chess players, careful analysis of played games (especially defeats/draws) is an important tool in learning from past mistakes. 
   This application is intended to serve as a platform for players to store and keep track of played games and analysis, which can serve as focal points for future improvement efforts.</p>
