@{
    ViewData["Title"] = "Changelog";
}
<h1>@ViewData["Title"]</h1>
<hr />

<h4>v1.0.0</h4>
<p><i>21st of January, 2022</i></p>
<p><b>Features</b></p>
<ul>
    <li>Added the following properties to matches: time control, color, opening and site for match</li>
</ul>
<p><b>Improvements</b></p>
<ul>
    <li>Improved hosting-setup for backend</li>
    <li>Added "about" and "changelog" pages</li>
</ul>
<p><b>Bug fixes</b></p>
<p>N/A</p>
<hr />

<h4>v0.1.0-alpha</h4>
<i>16th of December, 2021</i>
<p>Initial release that allows for basic CRUD functionality of chess games/analysis.</p>