@{
    ViewData["Title"] = "Changelog";
}
<h1>@ViewData["Title"]</h1>

<h4>v0.1.0-alpha</h4>
<i>16th of December, 2021</i>
<p>Initial release that allows for basic CRUD functionality of chess games/analysis.</p>