@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to eval!</h1>
    <p>A simple tool for chess players to keep track of chess games and analysis.</p>
    <img width="848" alt="evalWeb" src="https://user-images.githubusercontent.com/32497085/148698166-14da6340-28d4-414e-a2d0-1b0f06d6bc46.png">
</div>
