@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to eval!</h1>
    <p>A simple tool for chess players to keep track of chess games and analysis.</p>
    <img width="848" alt="evalWeb" src="https://user-images.githubusercontent.com/32497085/150649805-3b660496-6f45-420b-af90-5c0f81698862.png">
</div>
